<div>
    <mat-toolbar color="primary">
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <a mat-button routerLink="/">
            <span>{{title}}</span>
        </a>
    </mat-toolbar>
    <mat-sidenav-container class="example-container">
        <mat-sidenav color="primary" fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true"></mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
